#admin-logo{
    float: left;
    clear: left;
    padding: 5px;
   margin-top: 7px;
    height:77px;
    width:77px;
    border-radius:50px;
}
body{
    background-color:rgb(228, 225, 225);
    height:100%;
}
.navbar-brand{
    padding: 1.005rem;
}
.navbar-custom{
    border-radius: 0rem 0rem 1rem 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.navbar-adminportal{
    margin: 1rem;
}
nav a{
    border-radius: 1rem;
}
nav a:hover{
    background-color: rgb(80, 76, 85);
    border-radius: 1rem;
}

#adminportalbrand{
    color: white;
    margin: 1rem;
}
body{
    height:100%;
    margin: 0 auto;
    padding: 0;
}
nav li{
    padding: 1rem;

}

.row{
    display:flex;
    justify-content: center;
   
    

}
.col{
    float: left;
    width: 40%;
    padding : 10px 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
    
  
}
tr{
    justify-content: center;
}
table, th, td {
    border: 1px solid;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    
    border-radius: 30px;
    background: purple;
    
  }
  .card-1 {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 16px;
    margin: 15px;
    text-align: center;
    background-color: purple;
    border-radius: 50px;
    box-shadow:  8px 6px 2px 0px rgba(255,255,255,.5);
  }
i:hover{
    transform: scale(1.2);
    cursor:pointer;
}
#reportpanel{
    display: none;
    height:100%;
    width:70%;
    min-height: 80vh;
    margin:auto;
    
    background-color: #aaa;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;   
}
.n{
  margin-top: 17px;
  border-bottom:2px solid black;
}
.decidebtns{
    padding-right: 10px;
    padding-left: 0px;
    margin-right: 20px;
}
.btns{
    padding-right: 30px;
}
.reportbtn{
    margin-top: 30px;
    width:30px;
    height: 30px;
}
#mentees{
    display: none;
}