#admin-logo{
    float: left;
    clear: left;
    padding: 5px;
   margin-top: 7px;
    height:77px;
    width:77px;
    border-radius:50px;
}
body{
    background-color:rgb(228, 225, 225);
    height:100%;
}
.navbar-brand{
    padding: 1.005rem;
}
.navbar-custom{
    border-radius: 0rem 0rem 1rem 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.navbar-adminportal{
    margin: 1rem;
}
nav a{
    border-radius: 1rem;
}
nav a:hover{
    background-color: rgb(80, 76, 85);
    border-radius: 1rem;
}

#adminportalbrand{
    color: white;
    margin: 1rem;
}
body{
    height:100%;
    margin: 0 auto;
    padding: 0;
}
nav li{
    padding: 1rem;

}

.row{
    display:flex;
    justify-content: center;
   
    

}
.col{
    float: left;
    width: 40%;
    padding : 10px 30px;
    margin-left: 50px;
    margin-right: 50px;
    
    
  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    
    border-radius: 30px;
    background: linear-gradient(to right, #3c34b4, rgb(204, 183, 228));
    
  }
  .card-1 {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 16px;
    margin: 15px;
    text-align: center;
    background-color: rgba(235, 130, 221, 0.459);
    border-radius: 50px;
    box-shadow:  8px 6px 2px 0px rgba(255,255,255,.5);
  }