
body{
  background-image: url(/images/cbg.jpg);
}
.tinder {
  width: 72.5%;
  left:-11%;
  bottom:-10%;
  float:right;
  height: calc(100vh - 87.75px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.message-icon {
  position: absolute;
  right: 30px;
  top: 52%;
  transform: translateY(-50%);
  max-width: 32px;
}

.book-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  text-align: left;
}
.book-info .avatar {
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fff;
}
.book-info div {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 12px;
  color: #999;
}
.book-info span {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  display: block;
  color: #fff;
}
.tinder--card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 50%;
  background: linear-gradient(0deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%);
  z-index: 0;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_tick .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  background-size: cover;
/*   border: 1px solid #333; */
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border: 0;
  background: #ffecec;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
.notification-panel{
  position: absolute;
  right: 0;
  top:20%;
  padding:3vh;
  height: 50%;
  width: 25%;
  background-color: rgba(255,255,255,0.6);
  display: none;
  border-radius: 2vh;
  

}
.n{
  margin-top: 2vh;
  border-top: 1px solid #bd41bd;
}

.filter{
  transform: scale(2.6);
  top:2.5%;
  left:30%;
  background:none;
  border: none;
  
}
.filter:hover{
  transform: scale(3.1);
}

.filters{
  position: absolute;
  top:6px;
  left:32%;
  width: 37%;
  height: 7%;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: 3px solid rgb(31, 31, 31);
  display: none;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 8px;
  width: 70%;
  padding-left: 3px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:5px;
  margin-left:5px;
  margin-right: 30px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#skillfilter{
  
  left:51%;
  top:-18px;
  padding: 8px;
  border: rgb(0, 0, 0) 3px solid;
  display: none;
}
