.container{
    margin-top: 20px;
}
.contacts{
    min-height:90vh;
    background: #fff
        
}
.head{
    color:white;
    background-color: black;
    height:50px;
    display: flex;
    align-items: center;
}
.contact{
    height:70px;
    color:black;
    font-size: large;
    font-family: lobster;
    font-weight: bold;
    padding-left: 10px;
    display: grid;
}
.contact:hover{
    transform: scale(1.01);
    border:none
}
body{
    overflow: hidden;
}
.chatwindow{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background: url("https://wallpapercave.com/wp/wp4410728.jpg");
    overflow-y:scroll;
    max-height: 90vh;
    scroll-behavior: smooth;
}
.voicecall{
    visibility: hidden;
}
.videocall{
visibility: hidden;
}
.chat{
    background-color: black;
    color: aliceblue;
    min-width: 150px;
    min-height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
}
.sentchat{
    float:right;
    margin-right:10px;
    clear:both;
    margin-bottom: 20px;
}
.receivedchat{
    float:left;
    margin-left:10px;
    clear: both;
    margin-bottom: 20px;
}
.input{
    display: flex;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    width:1000px;
    max-width:400px;
    border-radius: 5px;
    position: fixed;
    bottom:10px;
}
#inputbox{
    width: 1000px;
    border-radius: 20px;
}
#submitbutton{
    border-radius: 20px;
}
.contactname{
    border-radius: 5px;
    color:white;
}

.profileimage:img{
    height:10px;
    width:10px;
    border-radius: 50%;
    border:2px solid black;
    object-fit: contain;
}
