.container{
    margin-top: 20px;
}
.contacts{
    min-height:90vh;
    background: #ddd

}
.head{
    color:white;
    background-color: #224;
    height:50px;
    display: flex;  
    align-items: center;
}
.contact{
    height:70px;
    color:black;
    background-color: #ccc;
    font-size: 2.6vh;
    font-family: lobster;
    font-weight: bold;
    padding-left: 0.5vw;
    align-items: center;
    display: flex;
}
.contact:hover{
    transform: scale(1.01);
    border:none
}
body{
    overflow: hidden;
    background-color: black;
    border: 2px solid black;
}
.callbutton{
    border-radius: 15px;
}
@media(max-width:1000px){
    .container{
             
    }
    body{
        background-color: black;
    }
    .chatwindow{
        display: none;
    }
}
.chatwindow{
    
    flex-direction: column;
    background: url("https://www.teahub.io/photos/full/16-169060_fantastic-hd-navy-blue-background-wallpaper.jpg");
    background-repeat: no-repeat ;
    background-attachment: fixed;
    margin:0;
    overflow-y:scroll;
    max-height: 90vh;
    scroll-behavior: smooth;
    overflow: ;
}

.emptywindow{
    background: #222;
    color: #aaa;
    font-size: 2vh;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filledwindow{
    display: none;
}
.buttons{
    margin-top: 10px;
    visibility: hidden;
}
.chat{
    background-color: #444;
    color: aliceblue;
    max-width: 200px;
    min-height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}
.sentchat{
    float:right;
    margin-right:10px;
    clear:both;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 10px;
}
.receivedchat{
    float:left;
    margin-left:10px;
    clear: both;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 0;
}
.input{
    display: flex;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    border:2px solid black;
    border-radius: 10px;
    position: fixed;
    bottom:10px;
    width: 60vw;
    background: white;
    font: 300;
    
}
input[type="text"]{
    background:transparent;
    width: 58vw;
    border-radius: 20px;
    border-width:0;
    font-size: 3vh;
    outline-width: 0;
    outline:none;
    box-shadow: none;
}
#submitbutton{
    border: none;
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
}
#submitbutton img{
    border:none;
    
}
.contactname{
    border-radius: 5px;
    color:white;
    display: flex;
    width:70px;
    height:50px;
    justify-self: flex-start;

    align-items: center;
    justify-content: ;
    padding-left: 20px;
    float:left;
}
.profilename{
    font-size: 2vh*1vw;
    margin-left:0.7vw*1vh;
    padding-left: 0;
    display: flex;
    justify-content: left ;
}

.profileimage{
    height:2vh*2vw;
    max-width:2vh*2vw;
    margin-bottom:15px;
    
}
img{
    height:5vh;
    width: 5vh;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 30px;
    border:2px solid black;
    margin-top:auto;
    margin-bottom:auto;
}
.chatcontainer{
    overflow: none;
    margin-bottom: 10vh;
}