body {
    font-family: 'Lato', sans-serif;
    background: #07232f;
  }
  #chatbox {
    width: 270px;
    margin: 0 auto;
    height: 17.1em;
    background: #115471;
    padding: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: -2px 0px 7px 3px #041218;
  }
  .box {
    padding-top: 0;
    /* 45/16 */
  }
  .box .question {
    display: none;
  }
  .box .question.active {
    display: block;
  }
  .box .question > .confirm-container {
    display: none;
    overflow: hidden;
  }
  .box .question > .confirm-container div {
    font-size: 0.875em;
    /* 14/16 */
    text-align: center;
    color: #828282;
    display: block;
  }
  .box .question > .confirm-container p {
    display: inline-block;
    float: right;
    padding: 5px 10px;
    background: #209DD2;
    color: #fff;
    margin-left: 10px;
    transition: 250ms ease-in-out;
  }
  .box .question > .confirm-container p:hover {
    cursor: pointer;
    background: #166b90;
  }
  .box .question > .confirm-container p:after {
    content: none;
  }
  .box .question > .confirm-container p.selected {
    background: #166b90;
  }
  .box p {
    display: none;
    position: relative;
    background: #e1e1e1;
    border-radius: 25px;
    transition: 250ms ease-in-out;
  }
  .box p:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #e1e1e1;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    left: -1px;
  }
  .box p span {
    display: none;
  }
  .box p.loading {
    background: #e1e1e1;
    width: 50px;
    height: 30px;
    display: block;
  }
  .box p.loading:before {
    content: '';
    left: 6px;
    background-color: #aaa;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    top: 11px;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: dots 0.9s ease-in-out infinite;
    animation: dots 0.9s ease-in-out infinite;
  }
  .box p.loading i {
    background-color: #aaa;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    top: 11px;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: dots 0.9s ease-in-out infinite;
    animation: dots 0.9s ease-in-out infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 20px;
  }
  .box p.loading i:after {
    content: '';
    background-color: #aaa;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    top: 0;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: dots 0.9s ease-in-out infinite;
    animation: dots 0.9s ease-in-out infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 13px;
  }
  .box p.complete {
    width: auto;
    height: auto;
    display: block;
    padding: 5px 10px;
    max-width: 170px;
    border-radius: 15px;
  }
  .box p.complete:before {
    content: none;
  }
  .box p.complete i {
    display: none;
  }
  @-webkit-keyframes dots {
    0% {
      opacity: 1;
    }
  }
  @keyframes dots {
    0% {
      opacity: 1;
    }
  }