.nav-li{
    margin: 0px 25px;
}
.card-custom{
    margin: 30px;
    border: 1px solid rgb(211, 201, 201);
    box-shadow: 12px 12px 2px 1px rgba(2, 2, 2, 0.336);
}
.username-show{
    display: inline-block;
    border: 1px solid red;
}
.card-text-custom{
    padding: 10px;
    
}
.read-more-link{
    text-decoration: none;
    color: grey;
    
}
.card-text a:hover{
    color: rgb(58, 64, 82);
}
.card-header a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}
.card-header img{
    margin: 0rem 1rem;
    border-radius: 50%;
}
.likebt{
    background-color: white;
    border-style: none;
}
.dislikebt{
    background-color: white;
    border-style: none;
}
.askbtn{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    border-radius: 50%;
}
.askwindow{
    margin: 3rem 2rem;
    display: none;
}
#askSend img{
    width: 3rem;
}
#askSend{
    border-style: none;
}
body{
    background: linear-gradient(to left,rgb(241, 82, 82),rgb(193, 104, 245));
}
.closeCross{
    margin-left: 74rem;
}