.navbar {
    background-image: linear-gradient(to right, rgb(165, 23, 186), rgb(71, 4, 104));
    padding: 0px !important;
}
.navbar-custom {
    position: sticky;
    top: 0rem;
    color: white;
    padding: 1.5rem 1rem;
}
.searchQ {
    margin: 2rem 1rem;
}
.navbar-custom ul {
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    margin: 0rem 2rem;
}
.navbar-custom ul li {
    margin: 0rem 1rem;
}
.navbar-custom ul li a {
    width: 5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
}
.navbar-custom ul li a:hover{
    background: linear-gradient(-45deg,rgb(224, 125, 125),rgb(38, 177, 212));
}
#navbarImg{
    width: 35rem;
}
.nav-li{
    margin: 0px 25px;
}
.card-custom{
    margin: 30px;
    border: 1px solid rgb(211, 201, 201);
    box-shadow: 12px 12px 2px 1px rgba(2, 2, 2, 0.336);
}
.username-show{
    display: inline-block;
    border: 1px solid red;
}
.card-text-custom{
    padding: 10px;
    
}
.read-more-link{
    text-decoration: none;
    color: grey;
    
}
.card-text a:hover{
    color: rgb(58, 64, 82);
}
.card-header a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}
.card-header img{
    margin: 0rem 1rem;
    border-radius: 50%;
}
.likebt{
    background-color: white;
    border-style: none;
}
.dislikebt{
    background-color: white;
    border-style: none;
}
.askbtn{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    border-radius: 50%;
}
.askwindow{
    margin: 3rem 2rem;
    display: none;
}
#askSend img{
    width: 3rem;
}
#askSend{
    border-style: none;
}
body{
    background: linear-gradient(-45deg,rgb(224, 155, 233),rgb(198, 90, 223));

    /* background: linear-gradient(to left,rgb(241, 82, 82),rgb(193, 104, 245)); */
}
.closeCross{
    /* margin-left: 74rem; */
    position: absolute;
    right: 3rem;
}
#writeAns{
    margin: 1rem 0.7rem;
}
#sendAns{
    width: 5rem;
    border-radius: 100%;
    /* border: 1px solid red; */
    border-style: none;
}
#sendAns img{
    width: 100%
}
@media screen and (max-width:600px) {
    #navbarImg{
        width:60%;
        height: 60%;
    }
}
#searchBtn button{
    width: 2rem;
    height: 2rem;
    
}