*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  /* overflow:scroll; */
}
#nav-bar{
  position: sticky;
  top:0;
  z-index: 10;
}
#chatbt{
  position: fixed;
  right: 2%;
  bottom: 4%;
  transform: scale(2.5);
  border-radius: 25%;
  border:none;
  border-width: 0;
  background: none;
}
#chatbt:hover{
  background-color: #fff;
  transform: scale(2.7);
}
.navbar .navbar-nav .nav-link {
color: aliceblue;
font-weight: 600;
}
/* Wave */
svg {
display: inline-block;
position: absolute;
top: auto;
left: 0;
}
.container{
height: 65vh;
width: 100%;
}
.container1 {
display: inline-block;
position: absolute;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
top: auto;
left: 0;
}
/*comment*/
.navbar{
  background:#2f2fa2;
  padding: 0 !important;
}
.navbar-nav li{
  padding: 0 10px;
}
#banner{
  background: #2f2fa2;
  color:white;
  padding-top: 2%;
}
.title{
  
  
}
.col-md-6 .image-mentor{
  height: auto;
  width: 70%;
  float: right;
}
.bottom-img{
  width: 100%;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  position: absolute;
  top:50vh;
}
button {
  margin: 80px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.chaticon{
    z-index :9;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

img{
  padding:0px;
  border-radius:100%;
  width:80px;
  height:80px;
  object-fit:cover;
}
/* Chat Box */
.chatbot{
    position:fixed;
    border-radius:100%;
    right:10px;
    bottom:10px;
    min-width:80px;
    min-height:80px;
}
img:hover{
    transform: scale(1.05);
    cursor:pointer;
}
#chatbox{
    height:50vh;
    width:40vh;
    border:2px solid black;
    display: none;
    flex-direction: column;
}
.chatheader{
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    background-color: skyblue;
}
.chat{
    border: 2px solid black;
    width: 120px;
    min-height: 10px;
    padding:5px;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
}
.bot{
  border-radius:10px 10px 10px 0;
}
.sender{
    margin-left: auto;
    order:1;
    border-radius:10px 10px 0px 10px;   
}
.newchat{
  order:1;
}
#chatinput{
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 20px;
    width:32vh;
    flex-wrap: wrap;
    border-radius:10px;
    min-height: 30px;
    position: sticky;
}
.subinput{
  height:30px;
  width:30px;
  bottom:5px;
}
#input{
  position: absolute;
  bottom:5px;
}

.closeCross{
  position: absolute;
  right: 0.5rem;
}
/* Middle Section */
#middle{
  padding: 10px 0;
}
.mentor-img{
  height: 130px;
  width: 200px;
  margin-top: 20px;
  margin-left: 30px;
}
.
.services{
  padding: 20px;
}
.middle h3{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.middle .title::before{
  content: '';
  
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 40px; */
  display: block;
  transform: translateY(63px);

}
/* Founder */
#testimonial{
  height: 140vh;
  padding: auto;
}
.testimonial{
  border-left:4px solid #f64c72 ;
  margin-top: 50px;
  margin-left: 70px;
  margin-bottom: 50px;
}
.testimonials img{
  height:160px;
  width:100px;
  border-radius: 50%;
  margin: 0 10px;
}
.user-detail{
  margin: auto;
  display: inline-block;
  font-size:20px;
}
/* About Us Section */
#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: auto;
    
}
#about-us .title{
  color:rgb(17, 17, 17);
}
/* Contact Us */
#social-media{
  background: #bbaca8;
  padding: 100px 0;
}
#social-media p{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.icons{
  margin: 0rem 10rem;
  align-items: center;
}
.icons img{
  width: 75px;
  transition: 0.5s;
}
.icons a:hover img{
  transform: translateY(-10px);
}


/* Footer image */
#footer{
  background-image: linear-gradient(to right, #a517ba, #470468);
  color: white;
}
.footer-img{
  width: 100%;
}

.image-mentor{
  animation-name: conthover;
  animation-duration: 4s;
  animation-iteration-count: infinite ;
}

@keyframes conthover{
  50%{
    transform: scale(1.15);
  }
  100%{
    transform:none;
  }
}

  #toptions{  
    
  }