*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #ccfbfe;
	overflow: hidden;
	font-family: sans-serif;
}
h1,
h2,
h3 {
	text-align: center;
	pointer-events: none;
}
h2 {
	margin-top: 2px;
	pointer-events: none;
}
.tinder {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
	opacity: 1;
}

.tinder--status {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	z-index: 2;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.tinder--status i {
	font-size: 100px;
	opacity: 0;
	transform: scale(0.3);
	transition: all 0.2s ease-in-out;
	position: absolute;
	width: 100px;
	margin-left: -50px;
}

.tinder_love .bi-check-lg {
	opacity: 0.7;
	transform: scale(1);
}

.tinder_nope .fa-remove {
	opacity: 0.7;
	transform: scale(1);
}

.tinder--cards {
	height:649px;
	flex-grow: 0.5;
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 1;
}

.tinder--card {
	display: inline-block;
	width: 90vw;
	max-width: 380px;
	height: 65vh;
	padding-bottom: 30px;
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	will-change: transform;
	transition: all 0.3s ease-in-out;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	overflow-y: auto;
}

.moving.tinder--card {
	transition: none;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.tinder--card > .limitImg {
	max-width: 100%;
	height: 60%;
	width: 380px;
	object-fit: cover;
	pointer-events: none;
}
.tinder--card.cover {
	background: rgb(211, 150, 97);
}
.tinder--card.about {
	background-image: linear-gradient(
		to right,
		#f5f5f5,
		#f5f5f5,
		#f5f5f5,
		rgb(233, 235, 234),
		rgb(233, 235, 234)
	);
	background-color: #f5f5f5;
}
.tinder--card.ingredients {
	background: lightblue;
}
.tinder--card.process {
	background: lightpink;
}
.tinder--card img {
	max-width: 100%;
	pointer-events: none;
}

.tinder--card h3 {
	margin-top: 5%;
	font-size: 32px;
	padding: 0 16px;
	pointer-events: none;
}

.tinder--card p,
.tinder--card ul {
	pointer-events: none;
	padding: 10px;
}

.tinder--buttons {
	flex: 0 0 100px;
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}

.tinder--buttons button {
	border-radius: 50%;
	line-height: 60px;
	width: 60px;
	border: 0;
	background: #ffffff;
	display: inline-block;
	margin: 0 8px;
	cursor: pointer;
}

.tinder--buttons button:focus {
	outline: 0;
}

.tinder--buttons button:hover {
	opacity: 0.7;
}

.tinder--buttons i {
	font-size: 32px;
	vertical-align: middle;
}

.fa-arrow-left,
.fa-arrow-right {
	color: #cdd6dd;
}

.photoBy {
	position: relative;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%);
	color: lightgrey;
	padding: 5px;
	font-size: 0.7em;
	text-align: center;
}
.recipe_details {
	background: #f5f5f5;
}
.fa-ul.ingredients {
	margin-top: 10px;
}
.fa-ul.ingredients > li {
	padding: 8px;
}
.variation {
	padding: 15px;
	margin-left: 25px;
	margin-right: 25px;
	border-top: 2px dashed lightyellow;
	pointer-events: none;
}
.fbr {
	color: firebrick;
}
i.fbr {
	display: inline-block;
	border-radius: 60px;
	box-shadow: 0px 0px 0px 2px firebrick;
	padding: 0.2em 0.3em;
}
.fa-ul .cover {
	display: inline-block;
	margin-top: 15px;
	font-size: 1.5em;
}
.deets {
	margin-top: 25px;
	font-size: 1.3em;
	text-align: center;
}
.ingInfo {
	position: relative;
	left: calc(50% - 0.5em);
	transform: translate(-50%);
	margin-top: 20px;
	color: lightyellow;
	font-size: 2em;
}
.ingInfoArr {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 7px;
	color: lightyellow;
	font-size: 1em;
}
ul.process,
ul.info {
	margin-top: 10px;
}
ul.process > li,
ul.info > li {
	padding-top: 10px;
}
ul.info {
	top: 50%;
	z-index: 5;
}
.white {
	color: white;
}
.whyCook {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
}
.tinder--info {
	position: absolute;
	top: 200vh;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 90vw;
	max-width: 380px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 500ms;
}
.infoIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20em;
	color: rgba(255, 255, 255, 0.2);
	z-index: 7;
}
.tinder--info > .covering {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100vw;
	background: rgba(255, 255, 255, 0.5);
	z-index: -5;
}
.tinder--info > .bg {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	background-color: lightgreen;
}
.closeMe {
	position: absolute;
	top: -8px;
	right: -8px;
	font-size: 2em;
	border-radius: 50%;
	width: 1.15em;
	background-color: #000;
	color: white;
	border: none;
	cursor: pointer;
}
.tomatos {
	max-height: 180px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.servings,
.cookTime {
	color: midnightblue;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lightyellow;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: lightgoldenrodyellow;
}

.promptBox {
	height: 100px;
	width: 100px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 55%;
	opacity: 1;
	transition: 300ms;
	pointer-events: none;
	z-index: 1000;
}
.tapperoo {
	height: 25%;
	width: 25%;
	position: absolute;
	top: 20%;
	left: 33%;
	border-radius: 100px;
	background-color: #0095dd;
	z-index: -1;
	animation: tapperoo 3s infinite;
}
@keyframes tapperoo {
	0% {
		height: 25%;
		width: 25%;
	}
	50% {
		height: 5%;
		width: 35%;
		opacity: 0;
		transform: translate(-250%);
	}
	100% {
		opacity: 0;
	}
}

#tap-gesture {
	position: absolute;
	transform: rotate(30deg);
	animation: handMove 3s infinite;
}
@keyframes handMove {
	0% {
		transform: rotate(30deg);
	}
	50% {
		transform: translate(-60%, -10%) rotate(-30deg) scale(0.9);
	}
	100% {
		transform: rotate(30deg);
	}
}