

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mentorshala</title>
  
  <link rel="shortcut icon" href="/images/m4.jpg" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="/CSS/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="/js/modernizr-2.6.2.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<link rel="shortcut icon" href="/images/m4.jpg" type="image/x-icon">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="/CSS/cardstyle.css">
<link rel="stylesheet" type="text/css" href="/CSS/component2.css" />
<link rel="stylesheet" href="/CSS/Report-Button.css">

<style>
	p{
		color: black;
	}
</style>
</head>


<header>
	<div class="component"  >
	  <button class="cn-button" id="cn-button" >Menu</button>
	  <div class="cn-wrapper" id="cn-wrapper">
		<ul>
		  <li><a onclick=notification() href="#"><span class='bi bi-bell-fill' style='transform:scale(2.5)'></span></a></li>
		  <li><a href="/CommunityPage"><span class='bi bi-people-fill' style='transform:scale(2.5)'></span></a></li>
		  <li><a href="/card"><span class='bi bi-house' style='transform:scale(2.5)'></span></a></li>
		  <li><a href="/chat"><span class='bi bi-chat' style='transform:scale(2.5)'></span></a></li>
		  <li><a href="/settings"><span class='bi bi-gear' style='transform:scale(2.5)'></span></a></li>
		 </ul>
	  </div>
	  </div>
	</header>

	<body style="background-image: url(/images/cbg.jpg); background-size: cover;">
<!-- partial:index.partial.html -->
<div class="tinder">
	<div class="tinder--status">
		<i class="fa fa-remove"></i>
		<i class="bi-check-lg"></i>
	  </div>

	<div class="tinder--cards">
		<% mentee.forEach(element=>{%>
		<div class="tinder--card" >
			
				<p><%= element.firstName %></p>
				  
		  </div>
		
		
<% }) %> 
	</div>

	<div class="tinder--buttons">
		<button id="nope"><i class="fa fa-remove"></i></button>
		
		<button id="love"><i class="bi-check-lg"></i></button>
	</div>

	

</div>



<div class="notification-panel" id="notification-panel">
	<h2>NOTIFICATIONS</h2>
	<div class="n"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
	<div class="n"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
	<div class="n"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
	<div class="n"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
  </div>

  <button class="filter" onclick="filter()"><i class="fa fa-filter" aria-hidden="true" style="color: white"></i></button>
  
<div class="filters" id="filters">
	Language:
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">English</button>
  <div id="myDropdown" class="dropdown-content">
	<a href="#Hindi">Hindi</a>
	<a href="#Tamil">Tamil</a>
	<a href="#Telugu">Telugu</a>
  </div>
</div>
Skills:
</div>
<div class="skillfilter">
<input type="text" id="skillfilter" placeholder="ex : HTML,CSS,REACT">
</div>
</div>


<script src="/js/polyfills.js"></script>
<script src="/js/demo2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src='https://hammerjs.github.io/dist/hammer.min.js'></script><script  src="/js/script.js"></script>
  <script>
    function notification(){
      if(document.getElementById("notification-panel").style.display == "none"){
        document.getElementById("notification-panel").style.display = "block";
       
      }
      else{
        document.getElementById("notification-panel").style.display = "none";
      }
    }
 
  

  function filter(){
    if(document.getElementById("filters").style.display == "none"){
      document.getElementById("filters").style.display = "block";
      document.getElementById("skillfilter").style.display = "block";
    }
    else{
      document.getElementById("filters").style.display = "none";
      document.getElementById("skillfilter").style.display = "none";
    }
  }
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }


</script>
<%- include('Report-Button')  %> 

</body>
</html>
