<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MentorShala</title>
  <link rel="stylesheet" href="/CSS/home.css">
  <link rel="shortcut icon" href="/images/m4.jpg" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Cabin:ital@1&family=Charm:wght@700&family=Crete+Round:ital@1&family=Updock&display=swap" rel="stylesheet">
</head>

<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="images/m4.jpg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end" id="navbarSupportedContent">
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="location" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="location" href="#testimonial">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="location" href="#socialmedia">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="location" href="#">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6" >
          <p class="title">
            <strong style="color:#f64c72; font-size:130px;font-family: 'Crete Round', serif;">Mentorshala</strong>
            <p class="text-center" style="font-style:italic; font-size:30px; margin-top:-60px; margin-right: 100px;">A new way to learn</p> 
            <div class="tagline"></div>
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="images/home2.png" class="image-mentor">
        </div>
       
      </div>
    </div>
  </section>
<button id="chatbt" onclick="showchatf()"><i class="fas fa-robot" style="color: rgb(31, 161, 221);"></i></button>
  <iframe src="/chatbot" frameborder="0" id="chatf"></iframe>


  



  <!-- <registeration page> -->
  <section id="middle">
    <div class="container">
      <br><br>
      <h1 class="title text-center"><a style="text-decoration: none; color:#242fa2" href="#toptions">Login Options</a></h1>
      <div class="row text-center" style="margin-top:50px" id="toptions">
        
        <div class="col-md-4 middle">
          <img src="images/Mentorr.jpg" class="mentor-img">
          <div class="logindesc" style="margin-top: 40px;">
            <h4>Mentor Register</h4>
            <p>Click on Below Button to Register As Mentor.
              You Can Also Sign In From There.
              Good Luck.
            </p>
          </div>
          <a href="/login-mentor">
            <button id="mentor" class="custom-btn btn-12"><span>Mentor</span><span>Mentor</span></button></a>
        </div>
        <div class="col-md-4 middle">
          <img src="images/Learnerr.jpg" class="mentor-img">
          <div class="logindesc" style="margin-top: 40px;">
            <h4>Learner Register</h4>
            <p>Click on Below Button to Register As Learner.
              You Can Also Sign In From There.
              Good Luck.
            </p>
          </div>
          <a href="/login-mentee">
            <button id="learner" class="custom-btn btn-12" style="margin:10px"><span>Learner</span><span>Learner</span></button>
          </a>
        </div>
        <div class="col-md-4 middle">
          <img src="images/admin.png" class="mentor-img">
          <div class="logindesc" style="margin-top: 40px;">
            <h4>Admin Register</h4>
            <p>Click on Below Button to Login As Admin.</p>
          </div>
          <a href="/login-admin">
            <button id="admin" class="custom-btn btn-12" style="margin-top:40px"><span>Admin</span><span>Admin</span></button>
          </a>
        </div>
      </div>

    </div>
  </section>
  <!-- About  Founder-->
  <br><br><br>
  <section id="testimonial" style="height:1100px;margin-top:60px; background:#2f24a2; color:white">
    <div class="container">
      <br><br>
      <h1 class="title text-center" style="font-weight:bolder;font-family:'Times New Roman', Times, serif; color:#f64c72">FOUNDERS</h1>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-5 testimonial">
          <img style="margin-bottom: 30px;"src="images/photo.jpg">
          
          <p class="user-detail"><b style="font-size:30px">Abhishek Singh</b><br><small>Co-founder At MentorShala</small></p>
          <br>
          <p>
            Studying in Indian Institute of Information Technology, Sri
            City,Chittoor. 
            Member of FSD group 5. Working on MentorShala.
            Creator of CommunityPage and Personal Information Page.
          </p>
        </div>
        <div class="col-md-5 testimonial">
          <img style="margin-bottom: 30px;"src="images/photo.jpg">
          <p class="user-detail"><b style="font-size:30px">Abhay Pratap Singh</b><br><small>Co-founder At MentorShala</small></p>
          <br>
          <p>
            Studying in Indian Institute of Information Technology, Sri
            City,Chittoor.
            Member of FSD group 5. Working on MentorShala.
            Creator of Login Page.
          </p>
        </div>
        <div class="col-md-5 testimonial">
          <img style="margin-bottom: 30px;"src="images/photo.jpg">
          
          <p class="user-detail"><b style="font-size:30px">Siddharth Bhardwaj</b><br><small>Co-founder At MentorShala</small></p>
          <br>
          <p>Studying in Indian Institute of Information Technology, Sri
            City,Chittoor.
            Member of FSD group 5. Working on MentorShala.
            Creator of Chat or message Page and Main page.</p>
        </div>
        <div class="col-md-5 testimonial">
          <img style="margin-bottom: 30px;"src="images/photo.jpg">
          
          <p class="user-detail"><b style="font-size:30px">Anant Chaturvedi</b><br><small>Co-founder At MentorShala</small></p>
          <br>
          <p>Studying in Indian Institute of Information Technology, Sri
            City,Chittoor.
            Member of FSD group 5. Working on MentorShala.
            Creator of This page.</p>
        </div>
        <div class="col-md-5 testimonial">
          <img style="margin-bottom: 30px;"src="images/photo.jpg">
          
          <p class="user-detail"><b style="font-size:30px">Saurabh Kumar</b><br><small>Co-founder At MentorShala</small></p>
          <br>
          <p>Studying in Indian Institute of Information Technology, Sri
            City,Chittoor.
            Member of FSD group 5. Working on MentorShala.
            Creator of Main Page and setting page</p>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section -->
  <section id="about-us" style="margin-top: -150px;">
    <div class="container">
      <br><br>
      <h1 class="title text-center p-3" style="font-weight:bolder;font-family:'Times New Roman', Times, serif;">About Us</h1>
      <div class="row">
        <div class="col-md-14">
          <div class="about text-center" style="font-size: 2rem;font-family: 'cursive', sans-serif;">
            The scope of the project is a web based system which will provide call,
          video call and chat facility to the users for interactive learning and
          guidance or career counselling and it will also help mentors to earn
          some sort of pocket money if their rating is high to a certain value and
          thus encourage mentors to put their heart and soul into the teaching
          process for effective results from the mentees. A lot of students from
          college or schools want to earn some pocket money by doing some part
          time jobs(online or offline) so Mentor Matching website is a wonderful
          platform for them to start earning money
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <footer id="socialmedia">
    
    <div class="d-flex justify-content-center icons">
      <h3>Contact US: </h3>
      <a href="#"><img src="images/facebook-icon.png"></a>
      <a href="#"><img src="images/twitter-icon.png"></a>

      <a href="#"><img src="images/instagram-icon.png"></a>
    </div>
    <div class="d-flex justify-content-center icons">
      
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Feedback: </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </footer>
  <script>
    function showchatf() {
      if(document.getElementById("chatf").style.display == "block"){
        document.getElementById("chatf").style.display = "none";
      }
      else{
        document.getElementById("chatf").style.display = "block";
      }
    }
    let i=0;
    let txt='\n'+'Join now to get Enlightened!'
    let speed=20;
    function typequote(){
        if(i<txt.length){
            document.getElementsByClassName('tagline')[0].innerHTML += txt.charAt(i);
            i++;
            setTimeout(typequote,speed);
        }
        document.getElementsByClassName('tagline')[0].style = "color:#000; margin-top:80px; margin-left:30px;  font-size:50px;font-family: 'Cabin', sans-serif;" ;
    }
    setTimeout(typequote,500);
    $(window).on('beforeunload', function(){
        $(window).scrollTop(0);
      });

      function offsetAnchor() {
        if (location.hash.length !== 0) {
          window.scrollTo(window.scrollX, window.scrollY - 500);
        }
      }

      // Captures click events of all <a> elements with href starting with #
      $(document).on('click', 'a[href^="#toptions"]', function(event) {
        // Click events are captured before hashchanges. Timeout
        // causes offsetAnchor to be called after the page jump.
        window.setTimeout(function() {
          offsetAnchor();
        }, 0);
      });

      // Set the offset when entering page with hash present in the url
      window.setTimeout(offsetAnchor, 0);
  </script>
  <style>
    #chatf {
      display: none;
      height: 50%;
      width: 25%;
      position: fixed;
  right: 4%;
  bottom: 6%;
  border-radius:10px;
    }
  </style>
</body>

</html>