<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/CSS/Report-Button.css">
</head>
<body>
    <div>
        <button class="open-button" onmouseover="showText()" onmouseout="hideText()" onclick="openForm()">
            <i class="bi bi-flag"></i>     
        </button>
        <div class="reportext">Report</div>
    </div>

    <div class="form-popup" id="myForm">
        <form action="/report" method="post" class="form-container">
            <div><input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div><input type="text" name="description" id="description" placeholder="Description"></div>

        <button type="submit" class="btn registerbtn">Report</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    
    <script>
        function showText(){
            document.querySelector('.reportext').style.display="block";    
        }
        function hideText(){
            document.querySelector('.reportext').style.display="none";   
        }
            
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }
      
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>