<form action="/ReportButton" method="post">
    <div class="button-form">
        <div>
            <button class="open-button" onmouseover="showText()" onmouseout="hideText()" onclick="openForm()">
                <i class="bi bi-flag"></i>
            </button>
            <div class="reportext">Report</div>
        </div>

        <div class="form-popup" id="myForm">
            <form action="/report" method="post" class="form-container">
                <div><input type="text" name="userName" id="userName" placeholder="Username" required>
                </div>
                <div><input type="text" name="description" id="description" placeholder="Description" required></div>

                <button type="submit" class="btn registerbtn">Report</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
</form>
</div>
<script>
    function showText() {
        document.querySelector('.reportext').style.visibility = 'visible';
    }
    function hideText() {
        document.querySelector('.reportext').style.visibility = 'hidden';
    }
    let b = 0;

    function openForm() {
        if (b == 0) {
            b = 1;
            document.getElementById("myForm").style.display = "block";
        }
        else {
            b = 0;
            document.getElementById("myForm").style.display = "none";
        }

    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>